body {
  box-sizing: border-box;
  width: 75vw;
  height: 100vh;
  margin: auto;
  text-align: center;
  font-family: "Roboto", sans-serif;
}

h1 {
  font-family: "Poppins", sans-serif;
}

h3 {
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  font-size: 18pt;
}

.hand {
  font-family: "Handlee", cursive;
}
#top {
  margin-bottom: 0;
}
#bottom {
  margin-top: 0;
}

#input {
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  box-sizing: border-box;
  width: 60vw;
  margin: 10px 0;
  height: 40px;
  font-size: 14pt;
  padding-left: 25px;
  border-radius: 50px;
  border: 1.5px grey solid;
  outline: none;
  /* margin: 0; */
  /* padding: 0; */
}

#search,
#lucky {
  width: 30vw;
}
